@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography"; /* @custom-variant dark (&:is(.dark *)); */

@theme {
  /* colors */
  --color-brand-orange: #ff8c38;
  --color-brand-pale: #ffead0;
  --color-brand-simple: #e17654;
  --color-brand-rugged: #115e59;
  --color-brand-luxury: #161616;
  --color-brand-black-100: #252525;
  --color-brand-black-900: #161616;
  --color-brand-white: #fff7ed;
  --color-brand-gray: #aaaaaa;

  /* font-family */
  --font-inter: var(--font-inter);
}

@layer base {
  body {
    @apply min-h-screen font-normal text-base font-inter bg-brand-white text-brand-black-900;
  }
}
